<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" async="true" src="https://www.bien-dans-ma-ville.fr/front/js/quantcast.js"></script>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MMMZF9L');</script>
    <meta name="description"
          content=" Sécurité des habitants, qualité des services et équipements, population, superficie, mairie, immobilier, statistiques Insee, data. Découvrez la présentation complète de la ville de Anglet (64600)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="verification" content="576b3d53cd66bd832e203ae7dc70a9ec"/>
    <meta property="og:title" content="Anglet (64) : nombre d'habitants en 2023, population, sécurité et superficie "/>
    <meta property="og:description"
          content=" Sécurité des habitants, qualité des services et équipements, population, superficie, mairie, immobilier, statistiques Insee, data. Découvrez la présentation complète de la ville de Anglet (64600)"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:url" content="https://www.bien-dans-ma-ville.fr/anglet-64024/"/>
    <meta property="og:image" content="https://www.bien-dans-ma-ville.fr/front/img/facebook-entete.png"/>
    <meta name="theme-color" content="#2A7B9B"/>
    <link rel="icon" type="image/png" href="https://www.bien-dans-ma-ville.fr/front/img/favicon.png">
    <link rel="stylesheet preload" as="style" href="https://www.bien-dans-ma-ville.fr/front/css/common.css"
          media="screen"/>
    <link rel="stylesheet preload" as="style" href="https://www.bien-dans-ma-ville.fr/front/css/index.css?20230203"
          media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet preload" as="style" media="screen"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Allura:wght@400&display=swap"/>
    <script async="true" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9149608531808015",
            enable_page_level_ads: true,
            overlays: {bottom: true}
        });
    </script>
    <title>Anglet (64) : nombre d'habitants en 2023, population, sécurité et superficie </title>
</head>
<body id="page_ville" class=" nuit">
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMMZF9L"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<header id="header">

    <form id="recherche" method="post" action="">
        <input aria-label="Recherche" id="search" type="search" autocomplete="off" value=""
               placeholder="Rechercher une ville"/>
        <ul class="result"></ul>
    </form>

    <h1>{{ city }} <small>64600</small></h1>

    <a class="vote" href="https://www.bien-dans-ma-ville.fr/ville-noter.html?ville=anglet">Evaluer la ville</a>
    <div class="illustration">
        <img src="https://www.bien-dans-ma-ville.fr/front/img/header-nuit.png" alt="" width="2560" height="420"/>
    </div>

    <nav class="navbar">
        <a class="navbar-brand" href="https://www.bien-dans-ma-ville.fr/" aria-label="Accueil">
            <img src="https://www.bien-dans-ma-ville.fr/front/img/home.svg" alt="" width="120" height="35"/>
        </a>
        <div class="navbar-collapse">
            <ul>
                <li>
                    <a class="dropdown" href="#">
                        Classements
                    </a>
                    <ul>
                        <li><a id="menu_classement" class="" href="https://www.bien-dans-ma-ville.fr/classement-ville/">Classement
                            des villes</a></li>
                        <li><a id="menu_classement_departement" class=""
                               href="https://www.bien-dans-ma-ville.fr/classement-departement/">Classement des
                            départements</a></li>
                        <li><a id="menu_classement_region" class=""
                               href="https://www.bien-dans-ma-ville.fr/classement-region/">Classement des régions</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="menu_region" class="" href="https://www.bien-dans-ma-ville.fr/regions/">Régions</a>
                </li>
                <li>
                    <a id="menu_departement" class="" href="https://www.bien-dans-ma-ville.fr/departements/">Départements</a>
                </li>
                <li>
                    <a id="menu_metropole" class="" href="https://www.bien-dans-ma-ville.fr/metropoles/">Métropoles</a>
                </li>
                <li>
                    <a id="menu_evaluer" class="" href="https://www.bien-dans-ma-ville.fr/ville-noter.html">Evaluer
                        <span>votre ville</span></a>
                </li>
                <li>
                    <a id="menu_signalement" class="" href="https://www.bien-dans-ma-ville.fr/signalement-urbain/">Signalements
                        urbains</a>
                </li>
                <li>
                    <a id="menu_blog" class="" href="https://www.bien-dans-ma-ville.fr/blog/">Blog</a>
                </li>
            </ul>
        </div>
        <div class="rs">
            <a href="https://www.facebook.com/biendansmaville" rel="noopener" aria-label="Facebook" target="_blank"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="twitter" href="https://twitter.com/biendansmaville" rel="noopener" aria-label="Twitter"
               target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="dark">
            <i class="fas fa-sun"></i>
        </div>
        <i class="burger fas fa-bars"></i>
    </nav>

    <input type="hidden" id="ville" value="paris"/>
    <input type="hidden" id="ville_tmp" value="1"/>

</header>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "City",
        "name": "Anglet",
        "address": {
            "@type": "PostalAddress",
            "postalCode": "64603",
            "addressLocality": "Anglet",
            "addressCountry": "FR"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "43.481402",
            "longitude": "-1.514699"
        },
        "latitude": "43.481402",
        "longitude": "-1.514699",
        "url": "http://www.anglet.fr",
        "hasMap": "https://www.google.com/maps/@43.481402,-1.514699,13z"
    }
</script>

<main class="page" data-lat="43.4833" data-lon="-1.53333" data-ville="Anglet" data-slug="anglet">


    <nav class="ville_submenu">
        <ul>
            <li class=" active">
                <a href="https://www.bien-dans-ma-ville.fr/anglet-64024/">
                    <i class="fas fa-home"></i> Statistiques
                </a>
            </li>
            <li class="">
                <a href="https://www.bien-dans-ma-ville.fr/anglet-64024/avis.html">
                    <i class="fas fa-star"></i> Avis (27) </a>
            </li>
            <li class="">
                <a href="https://www.bien-dans-ma-ville.fr/anglet-64024/immobilier.html">
                    <i class="fas fa-chart-line"></i> Prix immobilier
                </a>
            </li>
            <li class="">
                <a href="https://www.bien-dans-ma-ville.fr/anglet-64024/signalement-urbain/">
                    <i class="fas fa-bullhorn"></i> Signalements urbains </a>
            </li>
        </ul>
    </nav>
    <nav class="presentation_submenu">
        <ul>
            <li class="active"><a href="#chiffres">Population</a></li>
            <li><a href="#carte">Carte</a></li>
            <li><a href="#securite">Sécurite</a></li>
            <li><a href="#immobilier">Immobilier</a></li>
            <li><a href="#services">Services et équipements</a></li>
            <li><a href="#mairie">Mairie</a></li>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#signalement">Signalements</a></li>
            <li><a href="#politique">Présidentielles</a></li>
            <li><a href="#avis">Evaluer</a></li>
            <li><a href="#villesvoisines">Villes voisines</a></li>
        </ul>
    </nav>

    <section id="intro">

        <p>
            La ville de Anglet qui compte 39 719 habitants est situé dans le département Pyrénées-Atlantiques en région
            Nouvelle-Aquitaine. Le maire de Anglet est Claude OLIVE. La ville s'étend sur une superficie de 27&nbsp;km².
            Les habitants de Anglet sont appelés les Angloys (gentilé). <br/>Découvrez toutes les informations
            essentielles sur la population, la sécurité, les services et l'immobilier.
        </p>

    </section>

    <section id="chiffres">
        <h2>Statistiques sur la population</h2>

        <table class="bloc_chiffre">
            <tbody>
            <tr>
                <td>Nombre d'habitants</td>
                <td>39 719</td>
                <td><a class="insee_voir_classement"
                       href="https://www.bien-dans-ma-ville.fr/classement-ville-nb-habitant-nouvelle-aquitaine/">Classement</a>
                </td>
            </tr>
            <tr>
                <td>Age moyen</td>
                <td>47 ans</td>
                <td><a class="insee_voir_classement"
                       href="https://www.bien-dans-ma-ville.fr/classement-ville-age-population-nouvelle-aquitaine/">Classement</a>
                </td>
            </tr>
            <tr>
                <td>Pop active</td>
                <td>44.1%</td>
                <td><a class="insee_voir_classement"
                       href="https://www.bien-dans-ma-ville.fr/classement-ville-population-active-nouvelle-aquitaine/">Classement</a>
                </td>
            </tr>
            <tr>
                <td>Taux chômage</td>
                <td>5.7%</td>
                <td><a class="insee_voir_classement"
                       href="https://www.bien-dans-ma-ville.fr/classement-ville-taux-chomage-nouvelle-aquitaine/">Classement</a>
                </td>
            </tr>
            <tr>
                <td>Pop densité</td>
                <td>1 471 h/km²</td>
                <td><a class="insee_voir_classement"
                       href="https://www.bien-dans-ma-ville.fr/classement-ville-densite-nouvelle-aquitaine/">Classement</a>
                </td>
            </tr>
            <tr>
                <td>Revenu moyen</td>
                <td>23 740 €/an</td>
                <td><a class="insee_voir_classement"
                       href="https://www.bien-dans-ma-ville.fr/classement-ville-revenu-moyen-nouvelle-aquitaine/">Classement</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="evolution">
            <h3>Evolution du nombre d'habitants</h3>
            <canvas data-data="[37646,37934,37897,37661,38032,38581,39223,39184,38633,38724,38663,38929,39604,39719]"
                    id="chart_evolution" aria-label="Evolution du nombre d'habitants" role="img"></canvas>
        </div>

        <div class="charts">
            <div>
                <h3>Tranche d'âge</h3>
                <canvas data-data="[13,15,17,21,20,13,2]" id="chart_age" aria-label="Tranche d'âge de la population"
                        role="img"></canvas>
            </div>
            <div>
                <h3>Activité professionnelle</h3>
                <canvas data-data="[0,4,8,13,14,6,30,12]" id="chart_metier"
                        aria-label="Activité professionnelle des habitants" role="img"></canvas>
            </div>
        </div>

        <div class="charts">
            <div>
                <h3>Niveau de diplôme</h3>
                <canvas data-data="[13,6,23,18,15,13,12]" id="chart_diplome" aria-label="Niveau de diplôme"
                        role="img"></canvas>
            </div>
            <div>
                <h3>Composition des ménages</h3>
                <canvas data-data="[36,23,7,3,32]" id="chart_menage" aria-label="Composition des ménages"
                        role="img"></canvas>
            </div>
        </div>

        <div class="infos">
            <span>Bon à savoir : </span>
            <ul>
                <li>Le revenu moyen par habitant à Anglet (23 740&nbsp;€) est au dessus de la moyenne nationale (20&nbsp;590&nbsp;€)</li>
                <li>La part de la population au chômage (5.7%) est inférieure à la moyenne nationale (8%)</li>
                <li>Le taux de chômage indiqué est au sens <a
                        href="https://www.insee.fr/fr/metadonnees/definition/c1479" target="_blank">du recensement de la
                    population</a> qui se distingue du taux de chômage au sens du <a
                        href="https://www.insee.fr/fr/metadonnees/definition/c1129" target="_blank">BIT</a></li>
                <li>Le nombre d’habitants à Anglet est passé de 39 604 à 39 719 soit une hausse de 0.3%.</li>
            </ul>
        </div>

        <div class="source">
            Sources : Institut national de la statistique et des études économiques (insee) selon Les dernières
            parutions officielles de 2022 portant sur les années 2018 et 2019.
        </div>

        <div class="reclame">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9149608531808015"
                 data-ad-slot="5907092670" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </section>

    <section id="carte">

        <h2>Carte et superficie</h2>

        <div class="carte">
            <div class="departement">
                <img src="https://www.bien-dans-ma-ville.fr/front/img/departement/64.png" alt="Pyrénées-Atlantiques"/>
            </div>
            <div id="map"></div>
        </div>
        <p>Carte de la ville de Anglet</p>

        <div class="contenu">

            <div class="contenu-text infos">
                <span>Bon à savoir : </span>
                <ul>
                    <li>
                        Anglet est rattachée aux collectivités territoriales de la<a
                            href="https://www.bien-dans-ma-ville.fr/regions/nouvelle-aquitaine.html"> région
                        Nouvelle-Aquitaine</a>, du <a
                            href="https://www.bien-dans-ma-ville.fr/departements/pyrenees-atlantiques.html">département
                        Pyrénées-Atlantiques</a></li>
                    <li>Anglet s'étend sur une superficie de 27&nbsp;km². <a class="insee_voir_classement"
                                                                             href="https://www.bien-dans-ma-ville.fr/classement-ville-superficie-nouvelle-aquitaine/">Classement</a>
                    </li>
                    <li>Les villes voisines les plus proches sont <a
                            href="https://www.bien-dans-ma-ville.fr/biarritz-64122/">Biarritz</a>, <a
                            href="https://www.bien-dans-ma-ville.fr/bayonne-64102/">Bayonne</a>, <a
                            href="https://www.bien-dans-ma-ville.fr/bassussarry-64100/">Bassussarry</a>, <a
                            href="https://www.bien-dans-ma-ville.fr/saint-pierre-d-irube-64496/">Saint-Pierre-d'Irube</a>
                        et <a href="https://www.bien-dans-ma-ville.fr/arcangues-64038/">Arcangues</a></li>
                </ul>
            </div>
            <div class="contenu-logo">
                <a href="https://www.bien-dans-ma-ville.fr/regions/nouvelle-aquitaine.html"><img
                        src="https://www.bien-dans-ma-ville.fr/front/img/region/nouvelle-aquitaine/logo.png"
                        alt="Région de la Nouvelle-Aquitaine"/></a>
                <a href="https://www.bien-dans-ma-ville.fr/departements/pyrenees-atlantiques.html"><img
                        src="https://www.bien-dans-ma-ville.fr/front/img/departement/pyrenees-atlantiques.png"
                        alt="Département des Pyrénées-Atlantiques"/></a>
            </div>
        </div>
    </section>

    <section id="securite">

        <h2>Sécurité, les chiffres de la délinquance 2021</h2>

        <table class="bloc_chiffre">
            <tbody>
            <tr>
                <td>Agressions physiques / sexuelles</td>
                <td>316</td>
            </tr>
            <tr>
                <td>Cambriolages</td>
                <td>99</td>
            </tr>
            <tr>
                <td>Vols / dégradations</td>
                <td>565</td>
            </tr>
            </tbody>
        </table>

        <div class="contenu">

            <div class="evolution">

                <h3>Evolution du nombre d'infractions</h3>
                <canvas data-data1="[153,220,258,267,274,316]" data-data2="[184,170,150,171,123,99]"
                        data-data3="[862,992,839,696,575,565]" id="chart_infraction"
                        aria-label="Evolution du nombre d'infractions" role="img"></canvas>
            </div>

            <div class="contenu-compare">
                <h3>Pour comparer<small>(en proportion du nombre d'habitants)</small></h3>
                <canvas data-data="[8,2.5,14.2]" id="chart_icompare"
                        aria-label="Comparaison des infractions de la ville avec la France" role="img"></canvas>
                <canvas data-data="[5.6,1.4,7.5]" id="chart_icompareD"
                        aria-label="Comparaison des infractions de la ville avec son département" role="img"></canvas>
                <canvas data-data="[6.2,2.1,10.3]" id="chart_icompareR"
                        aria-label="Comparaison des infractions de la ville avec sa région" role="img"></canvas>
                <div class="legend">
                    <span>La ville</span>
                    <span><select>
						<option selected="selected" value="1">Moyenne nationale</option>
						<option value="2">Moyenne régionale</option>
						<option value="3">Moyenne départementale</option>
					</select></span>
                </div>
            </div>

        </div>

        <div class="source">
            Sources : Bases officielles des principaux indicateurs des crimes et délits enregistrés par la police et la
            gendarmerie nationales selon les dernières parutions officielles de 2022 portant sur l'année 2021.<br/>
            Agressions physiques / sexuelles : Violences sexuelles, coups et blessures volontaires intrafamiliaux, coups
            et blessures volontaires, autres coups et blessures volontaires.<br/>
            Cambriolages : Cambriolages de logements.<br/>
            Vols : Vols avec armes, vols d'accessoires sur véhicules, vols dans les véhicules, vols de véhicules, vols
            sans violence contre des personnes, vols violents sans arme.
        </div>

    </section>

    <section id="immobilier">

        <h2>Immobilier</h2>

        <table class="bloc_chiffre">
            <tbody>
            <tr>
                <td>Prix moyen</td>
                <td>826 360 €</td>
                <td>Prix moyen au m²</td>
                <td>6 704 €</td>
            </tr>
            <tr>
                <td>Prix moyen</td>
                <td>395 138 €</td>
                <td>Prix moyen au m²</td>
                <td>4 181 €</td>
            </tr>
            </tbody>
        </table>

        <div class="evolution">
            <h3>Evolution du prix de l'immobilier au m²</h3>
            <canvas data-maison="[4957,7179,5686,0,6704]" data-appartement="[2206,4519,988,0,4181]"
                    id="chart_immo_evolution" aria-label="Evolution du prix de l'immobilier" role="img"></canvas>
        </div>

        <div class="source">
            Sources : Institut national de la statistique et des études économiques (insee) selon Les dernières
            parutions officielles de 2022 portant sur l'année 2019.
        </div>

        <a href="https://www.bien-dans-ma-ville.fr/anglet-64024/immobilier.html" class="btn"><i
                class="fas fa-chart-line"></i> Voir l’historique des ventes</a>

    </section>

    <section id="services">

        <div class="reclame">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9149608531808015"
                 data-ad-slot="3320441877" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
        <h2>Services et équipements</h2>

        <div class="contenu">

            <div class="service">

                <table>
                    <thead>
                    <tr>
                        <th colspan="2"><h3>Commerce</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Hypermarché
                        </td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>
                            Supermarché
                        </td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>
                            Boulangerie
                        </td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>
                            Boucherie
                        </td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>
                            Station-service
                        </td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>
                            Banque
                        </td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>
                            La poste
                        </td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>
                            Coiffeur
                        </td>
                        <td>71</td>
                    </tr>
                    <tr>
                        <td>
                            Vétérinaire
                        </td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>
                            Restaurant
                        </td>
                        <td>178</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="service">

                <table>
                    <thead>
                    <tr>
                        <th colspan="2"><h3>Santé</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Médecin
                        </td>
                        <td>156</td>
                    </tr>
                    <tr>
                        <td>
                            Dentiste
                        </td>
                        <td>62</td>
                    </tr>
                    <tr>
                        <td>
                            Pharmacie
                        </td>
                        <td>18</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="service">

                <table>
                    <thead>
                    <tr>
                        <th colspan="2"><h3>Éducation</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Maternelle
                        </td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>
                            Primaire
                        </td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>
                            Collège
                        </td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>
                            Lycée
                        </td>
                        <td>4</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="infos">
            <span>Bon à savoir : </span>
            <ul>
                <li>La ville comptabilise de nombreux commerces divers et variés.</li>
                <li>La ville compte 1 médecin pour 255 habitants.</li>
                <li>La ville dispose de tous les établissements scolaires de l’école maternelle au lycée.</li>
            </ul>
        </div>

    </section>

    <section id="mairie">

        <h2>Mairie de Anglet</h2>

        <div class="contenu">
            <div class="contenu-maire">
                M. Claude OLIVE<br/>Maire de Anglet <img
                    src="https://www.bien-dans-ma-ville.fr/front/img/p/maire-homme.svg" alt="M. Claude OLIVE"
                    width="130"/>
            </div>
            <div class="contenu-text">
                <div class="adresse">
                    <h3>Adresse</h3>
                    Hôtel-de-Ville Rue Amédée-Dufourg BP 303 64603 Anglet <h3>Contact</h3>
                    <ul>
                        <li><i class="fas fa-phone-alt"></i> <a href="tel:05 59 58 35 35" target="_blank" rel="noopener"
                                                                title="Numéro de téléphone de la mairie de Anglet">05 59
                            58 35 35</a></li>
                        <li><i class="far fa-envelope"></i> <a href="mailto:accueil@anglet.fr" target="_blank"
                                                               rel="noopener"
                                                               title="E-mail de contact de la mairie de Anglet">accueil@anglet.fr</a>
                        </li>
                        <li><i class="fas fa-globe"></i> <a href="http://www.anglet.fr" target="_blank" rel="noopener"
                                                            title="Site officiel de la mairie de Anglet">Site officiel
                            de la mairie</a></li>
                    </ul>
                </div>
                <div class="heure">
                    <h3>Heures d'ouvertures</h3>
                    Du lundi au jeudi de 08:30 à 12:00<br/>Du lundi au jeudi de 13:00 à 17:30<br/>Le vendredi de 08:30 à
                    12:00<br/>Le vendredi de 13:00 à 17:00
                </div>
            </div>
        </div>

    </section>

    <section id="photos">

        <div class="contenu">
            <div class="contenu-photo">

                <h2>Photos</h2>

                <div class="photos">
                    <div class="photo">
                        <span>Présenter votre ville en photo !</span>
                        <img class="plus" src="https://www.bien-dans-ma-ville.fr/front/img/ville/default.png" alt=""/>
                    </div>
                </div>
                <div class="vide">
                    <span class="plus"></span>
                    <span class="plus"></span>
                    <span class="plus"></span>
                    <span class="plus"></span>
                </div>
                <div class="vignettes">
                    <div class="photo">
                        <img data-nb="0" src="https://www.bien-dans-ma-ville.fr/front/img/ville/default.png" alt=""/>
                    </div>
                </div>
                <span class="plus btn"><i class="fas fa-camera"></i> Ajouter une photo</span>
            </div>
            <div class="contenu-text">
                <div class="reclame">
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9149608531808015"
                         data-ad-slot="6621408543" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
            </div>
        </div>

    </section>

    <section id="signalement">

        <h2>Signalements urbains</h2>

        <p><strong>NOUVEAU</strong> : Décharges sauvages, détritus, objets abandonnés, graffitis, nids-de-poule :
            Déclarer un incident à Anglet</p>


        <div class="bal-container">
            <div class="bal-after">
                <img src="https://www.bien-dans-ma-ville.fr/front/img/signalement/apres.jpg" alt=""/>
            </div>
            <div class="bal-handle">
                <span class="handle-left-arrow"></span>
                <span class="handle-right-arrow"></span>
            </div>
            <div class="bal-before">
                <div class="bal-before-inset">
                    <img src="https://www.bien-dans-ma-ville.fr/front/img/signalement/avant.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="btns">
            <a href="https://www.bien-dans-ma-ville.fr/signalement-urbain/" class="btn"><i class="fas fa-bullhorn"></i>
                Ajouter un signalement</a>
        </div>

    </section>

    <section id="politique">

        <h2>Résultats présidentielles 2022</h2>

        <div class="contenu">

            <div class="tour1">
                <h3>Premier tour</h3>

                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/2.jpg"
                                          alt="Emmanuel MACRON"/><span>Emmanuel MACRON</span></div>
                    <div class="jauge election_2"><span style="width:34%;"></span></div>
                    <div class="score">33.08 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/6.jpg"
                                          alt="Jean-Luc MÉLENCHON"/><span>Jean-Luc MÉLENCHON</span></div>
                    <div class="jauge election_6"><span style="width:18%;"></span></div>
                    <div class="score">17.32 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/4.jpg"
                                          alt="Marine LE PEN"/><span>Marine LE PEN</span></div>
                    <div class="jauge election_4"><span style="width:15%;"></span></div>
                    <div class="score">14.92 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/5.jpg"
                                          alt="Éric ZEMMOUR"/><span>Éric ZEMMOUR</span></div>
                    <div class="jauge election_5"><span style="width:9%;"></span></div>
                    <div class="score">8.26 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/3.jpg"
                                          alt="Jean LASSALLE"/><span>Jean LASSALLE</span></div>
                    <div class="jauge election_3"><span style="width:8%;"></span></div>
                    <div class="score">7.25 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/8.jpg"
                                          alt="Yannick JADOT"/><span>Yannick JADOT</span></div>
                    <div class="jauge election_8"><span style="width:7%;"></span></div>
                    <div class="score">6.22 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/9.jpg"
                                          alt="Valérie PÉCRESSE"/><span>Valérie PÉCRESSE</span></div>
                    <div class="jauge election_9"><span style="width:6%;"></span></div>
                    <div class="score">5.56 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/1.jpg"
                                          alt="Fabien ROUSSEL"/><span>Fabien ROUSSEL</span></div>
                    <div class="jauge election_1"><span style="width:3%;"></span></div>
                    <div class="score">2.34 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/7.jpg"
                                          alt="Anne HIDALGO"/><span>Anne HIDALGO</span></div>
                    <div class="jauge election_7"><span style="width:3%;"></span></div>
                    <div class="score">2.08 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/11.jpg"
                                          alt="Nicolas DUPONT-AIGNAN"/><span>Nicolas DUPONT-AIGNAN</span></div>
                    <div class="jauge election_11"><span style="width:2%;"></span></div>
                    <div class="score">1.75 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/10.jpg"
                                          alt="Philippe POUTOU"/><span>Philippe POUTOU</span></div>
                    <div class="jauge election_10"><span style="width:1%;"></span></div>
                    <div class="score">0.90 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/0.jpg"
                                          alt="Nathalie ARTHAUD"/><span>Nathalie ARTHAUD</span></div>
                    <div class="jauge election_0"><span style="width:1%;"></span></div>
                    <div class="score">0.32 %</div>
                </div>

                <div class="total">
                    <strong>32 710 inscrits</strong><br/>
                    Participation : 77.36%<br/>
                    Votes blancs : 1.24%<br/>
                    Votes nuls : 0.51%
                </div>
            </div>
            <div class="tour2">
                <h3>Second tour</h3>

                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/2.jpg"
                                          alt="Emmanuel MACRON"/><span>Emmanuel MACRON</span></div>
                    <div class="jauge election_2"><span style="width:68%;"></span></div>
                    <div class="score">68,45 %</div>
                </div>
                <div class="candidat">
                    <div class="nom"><img src="https://www.bien-dans-ma-ville.fr/front/img/politique/4.jpg"
                                          alt="Marine LE PEN"/><span>Marine LE PEN</span></div>
                    <div class="jauge election_4"><span style="width:31%;"></span></div>
                    <div class="score">31,55 %</div>
                </div>

                <div class="total">
                    <strong>32 700 inscrits</strong><br/>
                    Participation : 75.27%<br/>
                    Votes blancs : 7.74%<br/>
                    Votes nuls : 2.28%
                </div>
            </div>

        </div>


    </section>


    <section id="avis">

        <h2>Noter votre ville</h2>

        <div class="contenu">
            <div class="bloc_notemoyenne">
                <h3>Note moyenne</h3>
                <div class="total">{{ note }}<span>/5</span></div>
                <i class="fas fa-star note"></i><i class="fas fa-star note"></i><i class="fas fa-star note"></i><i
                    class="fas fa-star note"></i><i class="far fa-star note"></i> <a href="avis.html" class="btn"><i
                    class="fas fa-eye"></i> Voir les avis</a>
            </div>

            <div class="bloc_formavis">
                <form method="post" action="https://www.bien-dans-ma-ville.fr/ville-noter.html">
                    <div class="part">
                        <h3>Evaluer la ville de Anglet</h3>
                        <p>Vos notes affectent nos classements, Merci pour votre objectivité.</p>
                        <div class="spart">
                            <fieldset>
                                <div class="form-group">
                                    <label for="slider_securite">Sécurité</label>
                                    <div class="notes">
                                        <label class="radio">
                                            <input type="radio" name="securite" value="0"/>
                                            <span>0</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="securite" value="1"/>
                                            <span>1</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="slider_securite" name="securite" value="2"/>
                                            <span>2</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="securite" value="3"/>
                                            <span>3</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="securite" value="4"/>
                                            <span>4</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="securite" value="5"/>
                                            <span>5</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slider_culture">Éducation</label>
                                    <div class="notes">
                                        <label class="radio">
                                            <input type="radio" name="culture" value="0"/>
                                            <span>0</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="culture" value="1"/>
                                            <span>1</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="slider_culture" name="culture" value="2"/>
                                            <span>2</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="culture" value="3"/>
                                            <span>3</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="culture" value="4"/>
                                            <span>4</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="culture" value="5"/>
                                            <span>5</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slider_sport">Sport / Loisir</label>
                                    <div class="notes">
                                        <label class="radio">
                                            <input type="radio" name="sport" value="0"/>
                                            <span>0</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="sport" value="1"/>
                                            <span>1</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="slider_sport" name="sport" value="2"/>
                                            <span>2</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="sport" value="3"/>
                                            <span>3</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="sport" value="4"/>
                                            <span>4</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="sport" value="5"/>
                                            <span>5</span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label for="slider_environnement">Environnement</label>
                                    <div class="notes">
                                        <label class="radio">
                                            <input type="radio" name="environnement" value="0"/>
                                            <span>0</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="environnement" value="1"/>
                                            <span>1</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="slider_environnement" name="environnement"
                                                   value="2"/>
                                            <span>2</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="environnement" value="3"/>
                                            <span>3</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="environnement" value="4"/>
                                            <span>4</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="environnement" value="5"/>
                                            <span>5</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slider_pratique">Vie pratique</label>
                                    <div class="notes">
                                        <label class="radio">
                                            <input type="radio" name="pratique" value="0" required="required"/>
                                            <span>0</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="pratique" value="1" required="required"/>
                                            <span>1</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="slider_pratique" name="pratique" value="2"
                                                   required="required"/>
                                            <span>2</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="pratique" value="3" required="required"/>
                                            <span>3</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="pratique" value="4" required="required"/>
                                            <span>4</span>
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="pratique" value="5" required="required"/>
                                            <span>5</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group form-btn">
                                    <div class="error">Veuillez noter tous les critères</div>
                                    <button type="button" class="btn"><i class="fas fa-pencil-alt"></i> Valider votre
                                        note
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="part">
                        <fieldset>
                            <div class="form-group">
                                <label for="avis_text">Votre commentaire (Étape 2/2) <small><em>Aspects positifs et
                                    négatif, merci de justifier votre notation.<br/>Une phrase minimum (ou 150
                                    caractères).</em></small></label>
                                <textarea name="text" id="avis_text" minlength="150" required="required"></textarea>
                                <div class="restant"><span>150</span> caractères restants</div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label for="avis_pseudo">Votre prénom ou pseudo</label>
                                <input type="text" id="avis_pseudo" maxlength="25" name="pseudo" value=""
                                       required="required" placeholder="Votre prénom ou pseudo"/>
                            </div>
                            <div class="form-group">
                                <label for="avis_email">Votre e-mail</label>
                                <input type="email" id="avis_email" maxlength="200" name="email" value=""
                                       placeholder="Votre e-mail (facultatif)"/>
                                <label><small>Renseignez votre e-mail pour être averti des nouveaux avis sur cette
                                    ville. Ne sera pas visible sur le site ni utilisé à des fins publicitaires.</small></label>
                            </div>
                            <div class="form-group form-btn">
                                <input type="hidden" name="ville" value="anglet"/>
                                <button type="submit" class="btn"><i class="fas fa-check"></i> Valider votre avis
                                </button>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>

    </section>


    <section id="villesvoisines">

        <div class="reclame">
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9149608531808015"
                 data-ad-slot="1331374602" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
        <h2>Villes autour de Anglet</h2>

        <div class="tab_compare">

            <select>
                <option>Habitants</option>
                <option>Superficie</option>
                <option>Pop densité</option>
                <option>Pop active</option>
                <option>Taux chômage</option>
                <option selected="selected">Revenu moyen</option>
                <option>Prix immobilier</option>
                <option>Note globale</option>
            </select>

            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Habitants</th>
                        <th>Superficie</th>
                        <th>Pop densité</th>
                        <th>Pop active</th>
                        <th>Taux chômage</th>
                        <th class="actif">Revenu moyen</th>
                        <th>Prix immobilier</th>
                        <th>Note globale</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/biarritz-64122/">Statistiques
                            Biarritz</a></td>
                        <td>25 787</td>
                        <td>12 km²</td>
                        <td>2 149 h/km²</td>
                        <td>38.4%</td>
                        <td>5.5%</td>
                        <td class="actif">23 820 €/an</td>
                        <td>5 870 €/m²</td>
                        <td>3.6</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/bayonne-64102/">Statistiques
                            Bayonne</a></td>
                        <td>51 894</td>
                        <td>22 km²</td>
                        <td>2 359 h/km²</td>
                        <td>47.2%</td>
                        <td>6.1%</td>
                        <td class="actif">20 300 €/an</td>
                        <td>3 295 €/m²</td>
                        <td>3.6</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/bassussarry-64100/">Statistiques
                            Bassussarry</a></td>
                        <td>3 231</td>
                        <td>7 km²</td>
                        <td>462 h/km²</td>
                        <td>49.8%</td>
                        <td>4.3%</td>
                        <td class="actif">26 260 €/an</td>
                        <td>3 764 €/m²</td>
                        <td class="top">4.3</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine"
                               href="https://www.bien-dans-ma-ville.fr/saint-pierre-d-irube-64496/">Statistiques
                            Saint-Pierre-d'Irube</a></td>
                        <td>5 491</td>
                        <td>8 km²</td>
                        <td>686 h/km²</td>
                        <td>47.4%</td>
                        <td>4.3%</td>
                        <td class="actif">22 730 €/an</td>
                        <td>3 163 €/m²</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/arcangues-64038/">Statistiques
                            Arcangues</a></td>
                        <td>3 195</td>
                        <td>17 km²</td>
                        <td>188 h/km²</td>
                        <td>43.2%</td>
                        <td>3.5%</td>
                        <td class="actif">25 310 €/an</td>
                        <td>4 356 €/m²</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/arbonne-64035/">Statistiques
                            Arbonne</a></td>
                        <td>2 342</td>
                        <td>11 km²</td>
                        <td>213 h/km²</td>
                        <td>47.4%</td>
                        <td>4.1%</td>
                        <td class="actif">25 960 €/an</td>
                        <td>5 245 €/m²</td>
                        <td class="top">4.0</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/boucau-64140/">Statistiques
                            Boucau</a></td>
                        <td>8 627</td>
                        <td>6 km²</td>
                        <td>1 438 h/km²</td>
                        <td>47.3%</td>
                        <td>5.8%</td>
                        <td class="actif">21 540 €/an</td>
                        <td>3 223 €/m²</td>
                        <td class="top">4.0</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/bidart-64125/">Statistiques
                            Bidart</a></td>
                        <td>6 975</td>
                        <td>12 km²</td>
                        <td>581 h/km²</td>
                        <td>48.6%</td>
                        <td>6.3%</td>
                        <td class="actif">23 750 €/an</td>
                        <td>4 665 €/m²</td>
                        <td class="top">4.0</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/tarnos-40312/">Statistiques
                            Tarnos</a></td>
                        <td>12 634</td>
                        <td>26 km²</td>
                        <td>486 h/km²</td>
                        <td>44.6%</td>
                        <td>5.1%</td>
                        <td class="actif">22 560 €/an</td>
                        <td>3 013 €/m²</td>
                        <td>3.9</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine"
                               href="https://www.bien-dans-ma-ville.fr/villefranque-64-64558/">Statistiques
                            Villefranque</a></td>
                        <td>2 822</td>
                        <td>17 km²</td>
                        <td>166 h/km²</td>
                        <td>49.4%</td>
                        <td>3.8%</td>
                        <td class="actif">23 900 €/an</td>
                        <td>2 844 €/m²</td>
                        <td>2.6</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/guethary-64249/">Statistiques
                            Guéthary</a></td>
                        <td>1 326</td>
                        <td>1 km²</td>
                        <td>1 326 h/km²</td>
                        <td>42.7%</td>
                        <td>6.3%</td>
                        <td class="actif">24 150 €/an</td>
                        <td>4 742 €/m²</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/mouguerre-64407/">Statistiques
                            Mouguerre</a></td>
                        <td>5 294</td>
                        <td>23 km²</td>
                        <td>230 h/km²</td>
                        <td>49.8%</td>
                        <td>4%</td>
                        <td class="actif">23 960 €/an</td>
                        <td>3 661 €/m²</td>
                        <td class="top">4.4</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/ahetze-64009/">Statistiques
                            Ahetze</a></td>
                        <td>2 071</td>
                        <td>11 km²</td>
                        <td>188 h/km²</td>
                        <td>49.2%</td>
                        <td>4.2%</td>
                        <td class="actif">24 870 €/an</td>
                        <td>3 789 €/m²</td>
                        <td>3.6</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/ustaritz-64547/">Statistiques
                            Ustaritz</a></td>
                        <td>6 918</td>
                        <td>33 km²</td>
                        <td>210 h/km²</td>
                        <td>49.7%</td>
                        <td>4.3%</td>
                        <td class="actif">22 610 €/an</td>
                        <td>3 105 €/m²</td>
                        <td>2.7</td>
                    </tr>
                    <tr>
                        <td><a class="villehome_voisine" href="https://www.bien-dans-ma-ville.fr/lahonce-64304/">Statistiques
                            Lahonce</a></td>
                        <td>2 506</td>
                        <td>9 km²</td>
                        <td>278 h/km²</td>
                        <td>49.9%</td>
                        <td>4.9%</td>
                        <td class="actif">23 650 €/an</td>
                        <td>3 162 €/m²</td>
                        <td>3.6</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </section>

    <section id="article">

        <h2>Articles en relation</h2>

        <div class="articles">
            <a class="article"
               href="https://www.bien-dans-ma-ville.fr/blog/en-pleine-montagne-les-bienfaits-d-un-spa-a-megeve.html">
    <span class="image">
        <img width="350" height="240" class="lazyload"
             data-src="https://www.bien-dans-ma-ville.fr/front/img/blog/214/illustration.jpg"
             alt="En pleine montagne, les bienfaits d'un spa à Megève"/>
    </span>
                <h3>En pleine montagne, les bienfaits d'un spa à Megève</h3>
            </a> <a class="article"
                    href="https://www.bien-dans-ma-ville.fr/blog/10-techniques-efficaces-pour-dissuader-les-cambrioleurs.html">
    <span class="image">
        <img width="350" height="240" class="lazyload"
             data-src="https://www.bien-dans-ma-ville.fr/front/img/blog/213/illustration.jpg"
             alt="10 techniques efficaces pour dissuader les cambrioleurs"/>
    </span>
            <h3>10 techniques efficaces pour dissuader les cambrioleurs</h3>
        </a> <a class="article"
                href="https://www.bien-dans-ma-ville.fr/blog/dechets-et-espaces-publics-qui-gere-quoi.html">
    <span class="image">
        <img width="350" height="240" class="lazyload"
             data-src="https://www.bien-dans-ma-ville.fr/front/img/blog/212/illustration.jpg"
             alt="Déchets et espaces publics : qui gère quoi ? "/>
    </span>
            <h3>Déchets et espaces publics : qui gère quoi ? </h3>
        </a> <a class="article"
                href="https://www.bien-dans-ma-ville.fr/blog/s-installer-a-barcelone-ce-qu-il-faut-savoir.html">
    <span class="image">
        <img width="350" height="240" class="lazyload"
             data-src="https://www.bien-dans-ma-ville.fr/front/img/blog/211/illustration.jpg"
             alt="S’installer à Barcelone : ce qu'il faut savoir"/>
    </span>
            <h3>S’installer à Barcelone : ce qu'il faut savoir</h3>
        </a></div>

        <div class="liens">
            <a href="https://www.bien-dans-ma-ville.fr/blog/?ville=anglet" class="btn"><i class="far fa-eye"></i> Voir
                les autres articles</a>
        </div>

    </section>

    <div id="modal-signalementphoto" class="modal">
        <div class="content">
            <span class="fermer">&times;</span>
            <div class="title">Signalement de photo</div>
            <form method="post" action="">
                <div class="form-group">
                    <label for="signalement_raison">Type de signalement</label>
                    <select name="signalement_raison" required="required">
                        <option value=""></option>
                        <option value="1">Spam / Message publicitaire</option>
                        <option value="2">Erreur localité</option>
                        <option value="3">Autre</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="signalement_raison">Merci d'indiquer la raison du signalement</label>
                    <textarea required="required" name="signalement_msg"></textarea>
                </div>
                <div class="form-group boutons">
                    <button type="button" class="btn btn-secondary fermer"><i class="fas fa-times"></i> Annuler</button>
                    <button type="submit" class="btn" data-id=""><i class="fas fa-angle-right"></i> Valider</button>
                </div>
            </form>
            <div class="msg">Merci ! Votre signalement est envoyé !</div>
        </div>
    </div>

    <div id="modal-ajoutphoto" class="modal">
        <div class="content">
            <span class="fermer">&times;</span>
            <div class="title">Ajouter une photo de votre ville</div>
            <form method="post" action="" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="photo_photo">Choisissez une photo</label>
                    <input type="file" required="required" id="photo_photo" name="photo" accept="image/*" value=""/>
                </div>
                <div class="form-group">
                    <input type="text" required="required" id="pseudo_photo" name="pseudo"
                           placeholder="Votre prénom ou pseudo" value=""/>
                </div>
                <div class="form-group">
                    <input type="text" required="required" id="legende_photo" name="legende"
                           placeholder="Lieu de la photo (place, monument...)" value=""/>
                </div>
                <div class="form-group">
                    <label class="loi"><input type="checkbox" required="required"/> En cochant cette case, je certifie
                        que l’image postée est personnelle et/ou libre de droit. J’autorise l’exploitation et la
                        diffusion de celle-ci à titre gracieux sur le site bien-dans-ma-ville.fr ainsi que de ses
                        réseaux associés.</label>
                </div>
                <div class="form-group">
                    <input type="hidden" name="slug" value="anglet"/>
                    <input type="hidden" name="a" value="photoville"/>
                    <button type="submit" class="btn"><i class="fas fa-angle-right"></i> Valider</button>
                </div>
            </form>
            <div class="msg">Merci ! Votre photo sera diffusée sur le site après modération.</div>
        </div>
    </div>


</main>
<footer id="footer">

    <section class="bloc_partage">
        <span>Partager cette page :</span>
        <a class="share" aria-label="Partage Facebook"
           href="https://www.facebook.com/sharer/sharer.php?u=https://www.bien-dans-ma-ville.fr/anglet-64024/"
           target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
        <a class="share" aria-label="Partage Twitter"
           href="http://twitter.com/share?text=Anglet <small>64600</small>&url=https://www.bien-dans-ma-ville.fr/anglet-64024/"
           target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        <a class="share" aria-label="Partage Linkedin"
           href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.bien-dans-ma-ville.fr/anglet-64024/"
           target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
        <a class="share" aria-label="Partage Telegram"
           href="https://telegram.me/share/url?url=https://www.bien-dans-ma-ville.fr/anglet-64024/" target="_blank"
           rel="noopener"><i class="fab fa-telegram-plane"></i></a>
        <a class="share" aria-label="Partage Whatsapp"
           href="https://web.whatsapp.com/send?text=https://www.bien-dans-ma-ville.fr/anglet-64024/" target="_blank"
           rel="noopener"><i class="fab fa-whatsapp"></i></a>
        <a class="share" aria-label="Partage Messenger"
           href="https://www.facebook.com/dialog/send?link=https://www.bien-dans-ma-ville.fr/anglet-64024/"
           target="_blank" rel="noopener"><i class="fab fa-facebook-messenger"></i></a>
        <a class="share" aria-label="Partage Email"
           href="mailto:?&subject=Anglet <small>64600</small>&body=https://www.bien-dans-ma-ville.fr/anglet-64024/"
           target="_blank" rel="noopener"><i class="far fa-envelope"></i></a>
    </section>

    <div class="reclame">
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9149608531808015"
             data-ad-slot="5606412608" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <div class="contenu">

        <div class="liens">

            <div>
                <img src="https://www.bien-dans-ma-ville.fr/front/img/logo-footer.svg" alt="Bien dans ma ville"
                     width="200" height="58"/>
            </div>

            <div>
                <a href="https://www.bien-dans-ma-ville.fr/classement-ville/">Classement des villes</a>
                <a href="https://www.bien-dans-ma-ville.fr/classement-departement/">Classement des départements</a>
                <a href="https://www.bien-dans-ma-ville.fr/classement-region/">Classement des régions</a>
            </div>
            <div>
                <a href="https://www.bien-dans-ma-ville.fr/regions/">Régions</a>
                <a href="https://www.bien-dans-ma-ville.fr/departements/">Départements</a>
                <a href="https://www.bien-dans-ma-ville.fr/metropoles/">Métropoles</a>
            </div>
            <div>
                <a href="https://www.bien-dans-ma-ville.fr/ville-noter.html">Evaluer votre ville</a>
                <a href="https://www.bien-dans-ma-ville.fr/blog/">Blog</a>
                <a href="https://www.bien-dans-ma-ville.fr/contact.html">Contact</a>
                <a class="facebook" href="https://www.facebook.com/biendansmaville" rel="noopener" aria-label="Facebook"
                   target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="twitter" href="https://twitter.com/biendansmaville" rel="noopener" aria-label="Twitter"
                   target="_blank"><i class="fab fa-twitter"></i></a>
            </div>

        </div>

        <div class="ml">
            <a href="https://www.bien-dans-ma-ville.fr/mentions-legales.html">Mentions légales</a>
            <a href="https://www.bien-dans-ma-ville.fr/politique-de-confidentialite.html">Politique de
                confidentialité</a>
            <!--<a href="https://www.bien-dans-ma-ville.fr/cgv.html">CGV</a>-->
            <span> &copy; 2015 - 2023</span>
        </div>

    </div>

    <div id="modal-vote">
        <p><strong>Vous avez une minute ?</strong> Nous aimerions beaucoup connaître votre opinion sur votre ville ou
            votre quartier. C'est une démarche anonyme très utile à notre communauté et aux élus désirant améliorer le
            bien-être de la population.</p>
        <div class="boutons">
            <a id="popup_oui" href="https://www.bien-dans-ma-ville.fr/ville-noter.html?ville=anglet" class="btn"><i
                    class="fas fa-angle-right"></i> Je note !</a>
            <a id="popup_non" href="#" class="btn btn-secondary"><i class="fas fa-times"></i> Non merci</a>
        </div>
    </div>

</footer>

<script src="https://www.bien-dans-ma-ville.fr/front/js/common.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://www.bien-dans-ma-ville.fr/front/js/index.js?20230206"></script>

</body>
</html>